@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    overflow: hidden;
    margin: 0;
}

.row {
    display: flex;
    width: 600px;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.col-header {
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
    text-align: center;
}

.item {
    width: 150px;
    height: 66px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: #f7f6f7;
    background-image: url('https://cdn.wallpapersafari.com/70/30/0wCOx2.jpg');
    padding: 0.8rem 1rem;
    color: #a9a9a9;
    text-align: center;
    cursor: grab;
}

.item:active {
    cursor: grabbing;
}

.placeholder {
    width: 150px;
    height: 66px;
}

.start {
    background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
    background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}


.hold {
    border: 2px solid #04c1fa;
    border-radius: 25px;
    /*filter: grayscale(100%)*/
    filter: hue-rotate(90deg);
}

.hide {
    display: none
}

.hovered {
    border: 2px solid #68e0cf;
    border-radius: 20px;
    /*border-top: 2px solid #68e0cf;*/
}
